@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 400vh;
    width: 100vw;
    font-size: 100%;
    background: rgb(35,45,40);
    background: linear-gradient(200deg, rgba(35,45,40,1) 0%, rgba(65,107,74,1) 100%);
}

nav {
    text-align: center;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dda15e;
}

li, a{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: #fefae0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 14px;
}

li a:hover {
    background-color: #bc6c25;
}


.first_h1 {
    color: whitesmoke;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 20px;
}

.first_content {
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    margin: 20px;
    font-size: 28px;
    
}

.section_text {
    margin-bottom: 20px;
    text-align: center;
}

.photo_drone {
    display: block;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
